@tailwind base;
@tailwind components;
@tailwind utilities;




html.dark {
  background-color: rgb(15, 23, 42);
}
:root {
  --animation-speed: 1000ms;
  --animation-speed-fast: 250ms;
  --default-cell-bg-color: theme('colors.white');
  --default-cell-border-color: theme('colors.black');
  --default-cell-text-color: theme('colors.black');
  --absent-cell-bg-color: theme('colors.slate.400');
  --correct-cell-bg-color: theme('colors.green.400');
  --present-cell-bg-color: theme('colors.yellow.400');
}

.dark {
  --default-cell-bg-color: theme('colors.slate.900');
  --default-cell-border-color: theme('colors.white');
  --default-cell-text-color: theme('colors.white');
  --absent-cell-bg-color: theme('colors.slate.700');
}


.reduced-motion {
  --animation-speed: 0;
  --animation-speed-fast: 0;
  --animation-speed-faster: 0;
}


.cell-fill-animation {
  animation: onTypeCell linear;
  animation-duration: 0.35s;
}

.cell-reveal {
  animation-duration: 0.35s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.cell-reveal.absent {
  animation-name: revealAbsentCharCell;
}

.cell-reveal.correct {
  animation-name: revealCorrectCharCell;
}

.cell-reveal.present {
  animation-name: revealPresentCharCell;
}
:root {
  --animation-speed: 1000ms;
  --animation-speed-fast: 350ms;
  --animation-speed-faster: 250ms;
  --default-cubic-bezier: cubic-bezier(0.075, 0.82, 0.165, 1);
  --default-answer-bg-color: theme('colors.slate.400');
  --correct-answer-bg-color: theme('colors.emerald.400');
  --wrong-answer-bg-color: theme('colors.red.400');
  --close-answer-bg-color: theme('colors.yellow.400');
  --tooltip-bg-color: theme('colors.slate.200');
}

.dark {
  --tooltip-bg-color: theme('colors.gray.600');
}

.cell-reveal > .letter-container {
  animation: offsetLetterFlip 0.35s linear;
  animation-fill-mode: backwards;
}

svg.cursor-pointer {
  transition: all var(--animation-speed-fast);
}

svg.cursor-pointer:hover {
  transform: scale(1.2);
}

.jiggle {
  animation: jiggle linear;
  animation-duration: var(--animation-speed-fast);
}

.navbar {
  margin-bottom: 2%;
}

.navbar-content {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  height: 3rem;
  max-width: 800px;
  width: 100%;
}

.right-icons {
  display: flex;
}


.lyrics-input,
.lyrics-input:hover {
  appearance: none;
  -webkit-appearance: none;
}

.lyrics-input ~ svg.cursor-pointer:hover {
  transform: translateY(-50%);
}

[data-check] {
  position: relative;
}

[data-check]::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: width var(--animation-speed-fast) var(--default-cubic-bezier);
}

.high-contrast {
  --correct-answer-bg-color: theme('colors.orange.400');
  --wrong-answer-bg-color: theme('colors.cyan.400');
}




[data-check='correct']::after {
  background-color: var(--correct-answer-bg-color);
  width: 100%;
}

[data-check='skipped']::after {
  background-color: var(--default-answer-bg-color);
  width: 100%;
}

[data-check='wrong']::after {
  background-color: var(--wrong-answer-bg-color);
  width: 100%;
}
[data-check='close']::after {
  background-color: var(--close-answer-bg-color);
  width: 100%;
}


.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-top-color: var(--tooltip-bg-color);
}

.line-reveal {
  backface-visibility: hidden;
  animation: revealNextLine var(--animation-speed) var(--default-cubic-bezier);
}

@keyframes revealNextLine {
  from {
    transform: rotateX(180deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.demo .tooltip {
  visibility: visible;
}





